* {
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 235, 224);
    margin-left: 2rem;
    margin-right: 2rem;
}

nav {
    display: flex;
       
}

a {
    text-decoration: none;
    padding: 1rem;
    color: rgb(155, 36, 36);
    font-weight: 100;

}

nav p {
    color: rgb(155, 36, 36);

}

.brandswecarry {
    color: rgb(130, 128, 128);
}

article {
    background: white;
    
}

.info {
    display: grid;
    margin: 1.5rem;
        

}

.price p:nth-child(1) {
    color: rgb(153, 152, 152);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.colours p:nth-child(1) {
    color: rgb(153, 152, 152);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.instock p:nth-child(1) {
    color: rgb(153, 152, 152);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.price {
    display: flex;
    border-bottom: 1px solid rgb(204, 202, 202);
    
    
}

.colours {
    display: flex;
    border-bottom: 1px solid rgb(204, 202, 202);
}

.instock {
    display: flex;
    border-bottom: 1px solid rgb(204, 202, 202);
}


h2 {
    margin: 0.3rem;
    border-bottom: 1px solid rgb(204, 202, 202);
    color: rgb(130, 128, 128);
}

h4 {
    margin: 0.4rem;
    color: rgb(130, 128, 128);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}



article img {
    
    max-width: 100%;
   
}

article {
   margin-bottom: 3rem;
   
}

button{
    background-color: white;
    color:rgb(155, 36, 36) ;
    border: 2px solid rgb(155, 36, 36);
    width: 150px;
    height: 3rem;
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    



}

@media only screen and (min-width:600px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }
}

@media only screen and (min-width:800px){
    main {
        
        grid-template-columns: 1fr 1fr 1fr;
        gap:2rem;
        
    }
}





